* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #667eea, #764ba2);
    ;

}

.container {
    background: #ffffff;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.amount,
.from,
.to {
    margin-bottom: 15px;

}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

input,
select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
}

.currency {
    display: flex;
    justify-content: space-between;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background: #667eea;
    color: white;
    transition: 0.3s ease;
}

button:hover {
    background: #5a67d8;
}

#result {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}